<a href="https://colab.research.google.com/github/Bilol2747/Data_Analytics_Portfolio/blob/main/Malumotlarni_tozalash_projects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

#Fayl malumotlarini tahrirlaymiz!

In [ ]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data_nan.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,NaN,21.0,13495.0
1,alfa-romero,convertible,NaN,168.8,dohc,four,111.0,21.0,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154.0,NaN,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102.0,24.0,13950.0
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0

In [ ]:
df.isnull().sum()

company              0
body-style           0
wheel-base          15
length              13
engine-type         12
num-of-cylinders     0
horsepower          16
average-mileage     15
price                3
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 0 to 88
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           61 non-null     object
 1   body-style        61 non-null     object
 2   wheel-base        46 non-null     float64
 3   length            48 non-null     float64
 4   engine-type       49 non-null     object
 5   num-of-cylinders  61 non-null     object
 6   horsepower        45 non-null     float64
 7   average-mileage   46 non-null     float64
 8   price             58 non-null     float64
dtypes: float64(5), object(4)
memory usage: 4.8+ KB

In [ ]:
nulls=df.isnull().sum()
rows=df.shape[0]

In [ ]:
(nulls/rows*100).round(2)

company              0.00
body-style           0.00
wheel-base          24.59
length              21.31
engine-type         19.67
num-of-cylinders     0.00
horsepower          26.23
average-mileage     24.59
price                4.92
dtype: float64

In [ ]:
df.shape

(61, 9)

In [ ]:
df1=(df.dropna())

In [ ]:
df1.shape

(14, 9)

In [ ]:
df2=df.dropna(axis=1, thresh=55)

In [ ]:
df2.shape

(61, 4)

In [ ]:
df2.isnull().sum()

company             0
body-style          0
num-of-cylinders    0
price               3
dtype: int64

In [ ]:
df.isnull().sum()

company              0
body-style           0
wheel-base          15
length              13
engine-type         12
num-of-cylinders     0
horsepower          16
average-mileage     15
price                3
dtype: int64

In [ ]:
data=df.dropna(subset=['wheel-base', 'horsepower'])

In [ ]:
data.isnull().sum()

company             0
body-style          0
wheel-base          0
length              7
engine-type         7
num-of-cylinders    0
horsepower          0
average-mileage     9
price               2
dtype: int64

In [ ]:
df1=df.fillna(method="bfill")

/tmp/ipython-input-1784019167.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1=df.fillna(method="bfill")

In [ ]:
df1.isnull().sum()

company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          1
average-mileage     0
price               0
dtype: int64

In [ ]:
d=df.fillna({"wheel-base":90, "horsepower":100})

In [ ]:
d.isnull().sum()

company              0
body-style           0
wheel-base           0
length              13
engine-type         12
num-of-cylinders     0
horsepower           0
average-mileage     15
price                3
dtype: int64

In [ ]:
df.fillna(df["horsepower"].mean())

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.600000,168.800000,dohc,four,108.266667,21.000000,13495.0
1,alfa-romero,convertible,108.266667,168.800000,dohc,four,111.000000,21.000000,16500.0
2,alfa-romero,hatchback,94.500000,171.200000,ohcv,six,154.000000,108.266667,16500.0
3,audi,sedan,99.800000,176.600000,ohc,four,102.000000,24.000000,13950.0
4,audi,sedan,99.400000,176.600000,ohc,five,108.266667,108.266667,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.300000,171.700000,ohc,four,85.000000,27.000000,7975.0
82,volkswagen,sedan,108.266667,171.700000,108.266667,four,52.000000,37.000000,7995.0
86,volkswagen,sedan,97.300000,108.266667,ohc,four,100.000000,108.266667,9995.0
87,volvo,sedan,104.300000,188.800000,108.266667,four,114.000000,23.000000,12940.0
88,volvo,wagon,104.300000,188.800000,ohc,four,108.266667,23.000000,13415.0

In [ ]:
d = df[df['body-style']=='hatchback']

In [ ]:
d.fillna(d['average-mileage'].mean())

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
2,alfa-romero,hatchback,94.500000,171.200000,ohcv,six,154.000000,32.727273,16500.000000
16,chevrolet,hatchback,88.400000,141.100000,l,three,32.727273,47.000000,5151.000000
17,chevrolet,hatchback,94.500000,155.900000,ohc,four,70.000000,38.000000,6295.000000
19,dodge,hatchback,93.700000,157.300000,ohc,four,68.000000,31.000000,6377.000000
20,dodge,hatchback,93.700000,32.727273,ohc,four,68.000000,32.727273,6229.000000
36,mazda,hatchback,93.100000,159.100000,32.727273,four,32.727273,32.727273,5195.000000
37,mazda,hatchback,93.100000,159.100000,ohc,four,68.000000,31.000000,6095.000000
38,mazda,hatchback,93.100000,159.100000,ohc,four,68.000000,31.000000,6795.000000
39,mazda,hatchback,32.727273,32.727273,32.727273,two,101.000000,17.000000,11845.000000
49,mitsubishi,hatchback,32.727273,157.300000,ohc,four,32.727273,37.000000,5389.000000
50,mitsubishi,hatchback,93.700000,32.727273,32.727273,four,68.000000,31.000000,6189.000000
63,porsche,hatchback,98.400000,175.700000,dohcv,eight,32.727273,32.727273,32.727273
66,toyota,hatchback,32.727273,158.700000,ohc,four,62.000000,35.000000,5348.000000
67,toyota,hatchback,95.700000,158.700000,32.727273,four,32.727273,31.000000,6338.000000
68,toyota,hatchback,32.727273,158.700000,ohc,four,62.000000,31.000000,6488.000000

In [ ]:
df2.isnull().sum()

company             0
body-style          0
num-of-cylinders    0
price               3
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df2=df.fillna({'horsepower':df['horsepower'].mean(), 'wheel-base':df['wheel-base'].mean()})

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv')
df.head()

   rank  country     density   densityMi    pop2021   area
0     1    Macau  21946.4667  56841.3487    658.394     30
1     2   Monaco  19755.5000  51166.7450     39.511      2
2    28  Burundi    440.3044   1140.3884  12255.433  27834
3     1    Macau  21946.4667  56841.3487    658.394     30
4     2   Monaco  19755.5000  51166.7450     39.511      2

In [ ]:
sum(df.duplicated())

15

In [ ]:
df1=df.drop_duplicates(['country'])

In [ ]:
df1.shape

(232, 6)

In [ ]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data_nan.csv", index_col=0)
df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,NaN,21.0,13495.0
1,alfa-romero,convertible,NaN,168.8,dohc,four,111.0,21.0,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154.0,NaN,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102.0,24.0,13950.0
4,audi,sedan,99.4,176.6,ohc,five,NaN,NaN,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85.0,27.0,7975.0
82,volkswagen,sedan,NaN,171.7,NaN,four,52.0,37.0,7995.0
86,volkswagen,sedan,97.3,NaN,ohc,four,100.0,NaN,9995.0
87,volvo,sedan,104.3,188.8,NaN,four,114.0,23.0,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,NaN,23.0,13415.0

In [ ]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [ ]:
num={'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'eight':8, 'twelve':12}
df['num-of-cylinders']=df['num-of-cylinders'].map(num)

In [ ]:
df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,4,NaN,21.0,13495.0
1,alfa-romero,convertible,NaN,168.8,dohc,4,111.0,21.0,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,6,154.0,NaN,16500.0
3,audi,sedan,99.8,176.6,ohc,4,102.0,24.0,13950.0
4,audi,sedan,99.4,176.6,ohc,5,NaN,NaN,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,4,85.0,27.0,7975.0
82,volkswagen,sedan,NaN,171.7,NaN,4,52.0,37.0,7995.0
86,volkswagen,sedan,97.3,NaN,ohc,4,100.0,NaN,9995.0
87,volvo,sedan,104.3,188.8,NaN,4,114.0,23.0,12940.0
88,volvo,wagon,104.3,188.8,ohc,4,NaN,23.0,13415.0

In [ ]:
kurs=13000
df['price'].map(lambda x:x*kurs)
df['price_uzb']=df['price'].map(lambda x:x*kurs)

In [ ]:
kurs=1300
df["price_usd"]=df["price"].map(lambda x:x*kurs)

In [ ]:
df.replace('NaN', 'doch')

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,price_uzb,price_usd
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,4,NaN,21.0,13495.0,175435000.0,17543500.0
1,alfa-romero,convertible,NaN,168.8,dohc,4,111.0,21.0,16500.0,214500000.0,21450000.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,6,154.0,NaN,16500.0,214500000.0,21450000.0
3,audi,sedan,99.8,176.6,ohc,4,102.0,24.0,13950.0,181350000.0,18135000.0
4,audi,sedan,99.4,176.6,ohc,5,NaN,NaN,17450.0,226850000.0,22685000.0
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,4,85.0,27.0,7975.0,103675000.0,10367500.0
82,volkswagen,sedan,NaN,171.7,NaN,4,52.0,37.0,7995.0,103935000.0,10393500.0
86,volkswagen,sedan,97.3,NaN,ohc,4,100.0,NaN,9995.0,129935000.0,12993500.0
87,volvo,sedan,104.3,188.8,NaN,4,114.0,23.0,12940.0,168220000.0,16822000.0
88,volvo,wagon,104.3,188.8,ohc,4,NaN,23.0,13415.0,174395000.0,17439500.0

In [ ]:
df.replace(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'], [6,4, 3, 5, 12, 2, 8 ])

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,price_uzb,price_usd
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,4,NaN,21.0,13495.0,175435000.0,17543500.0
1,alfa-romero,convertible,NaN,168.8,dohc,4,111.0,21.0,16500.0,214500000.0,21450000.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,6,154.0,NaN,16500.0,214500000.0,21450000.0
3,audi,sedan,99.8,176.6,ohc,4,102.0,24.0,13950.0,181350000.0,18135000.0
4,audi,sedan,99.4,176.6,ohc,5,NaN,NaN,17450.0,226850000.0,22685000.0
...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,4,85.0,27.0,7975.0,103675000.0,10367500.0
82,volkswagen,sedan,NaN,171.7,NaN,4,52.0,37.0,7995.0,103935000.0,10393500.0
86,volkswagen,sedan,97.3,NaN,ohc,4,100.0,NaN,9995.0,129935000.0,12993500.0
87,volvo,sedan,104.3,188.8,NaN,4,114.0,23.0,12940.0,168220000.0,16822000.0
88,volvo,wagon,104.3,188.8,ohc,4,NaN,23.0,13415.0,174395000.0,17439500.0

In [ ]:
df2 = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv', index_col='country')
df2

                  rank     density   densityMi    pop2021     area
country
Macau                1  21946.4667  56841.3487    658.394       30
Monaco               2  19755.5000  51166.7450     39.511        2
Burundi             28    440.3044   1140.3884  12255.433    27834
Macau                1  21946.4667  56841.3487    658.394       30
Monaco               2  19755.5000  51166.7450     39.511        2
...                ...         ...         ...        ...      ...
Namibia            228      3.1338      8.1166   2587.344   825615
Western Sahara     229      2.3003      5.9577    611.875   266000
Mongolia           230      2.1286      5.5129   3329.289  1564110
Falkland Islands   231      0.2902      0.7517      3.533    12173
Greenland          232      0.0263      0.0680     56.877  2166086

[247 rows x 5 columns]

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 247 entries, Macau to Greenland
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rank       247 non-null    int64
 1   density    247 non-null    float64
 2   densityMi  247 non-null    float64
 3   pop2021    247 non-null    float64
 4   area       247 non-null    int64
dtypes: float64(3), int64(2)
memory usage: 11.6+ KB

In [ ]:
df2.replace(['rank', 'pop2021', 'area'], ['reyting', "aholi", 'hudud'])

                  rank     density   densityMi    pop2021     area
country
Macau                1  21946.4667  56841.3487    658.394       30
Monaco               2  19755.5000  51166.7450     39.511        2
Burundi             28    440.3044   1140.3884  12255.433    27834
Macau                1  21946.4667  56841.3487    658.394       30
Monaco               2  19755.5000  51166.7450     39.511        2
...                ...         ...         ...        ...      ...
Namibia            228      3.1338      8.1166   2587.344   825615
Western Sahara     229      2.3003      5.9577    611.875   266000
Mongolia           230      2.1286      5.5129   3329.289  1564110
Falkland Islands   231      0.2902      0.7517      3.533    12173
Greenland          232      0.0263      0.0680     56.877  2166086

[247 rows x 5 columns]

In [ ]:
df2.rename(index=str.upper, columns=str.upper)

                  RANK     DENSITY   DENSITYMI    POP2021     AREA
country
MACAU                1  21946.4667  56841.3487    658.394       30
MONACO               2  19755.5000  51166.7450     39.511        2
BURUNDI             28    440.3044   1140.3884  12255.433    27834
MACAU                1  21946.4667  56841.3487    658.394       30
MONACO               2  19755.5000  51166.7450     39.511        2
...                ...         ...         ...        ...      ...
NAMIBIA            228      3.1338      8.1166   2587.344   825615
WESTERN SAHARA     229      2.3003      5.9577    611.875   266000
MONGOLIA           230      2.1286      5.5129   3329.289  1564110
FALKLAND ISLANDS   231      0.2902      0.7517      3.533    12173
GREENLAND          232      0.0263      0.0680     56.877  2166086

[247 rows x 5 columns]

In [ ]:
df2.rename(index={"Macau":"Makau"}, columns={"pop2021":"population"}, inplace=True)

In [ ]:
df2

                  rank     density   densityMi  population     area
country
Makau                1  21946.4667  56841.3487     658.394       30
Monaco               2  19755.5000  51166.7450      39.511        2
Burundi             28    440.3044   1140.3884   12255.433    27834
Makau                1  21946.4667  56841.3487     658.394       30
Monaco               2  19755.5000  51166.7450      39.511        2
...                ...         ...         ...         ...      ...
Namibia            228      3.1338      8.1166    2587.344   825615
Western Sahara     229      2.3003      5.9577     611.875   266000
Mongolia           230      2.1286      5.5129    3329.289  1564110
Falkland Islands   231      0.2902      0.7517       3.533    12173
Greenland          232      0.0263      0.0680      56.877  2166086

[247 rows x 5 columns]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:

df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv', usecols=['country','pop2021','area'], index_col='country')
df

                    pop2021     area
country
Macau               658.394       30
Monaco               39.511        2
Burundi           12255.433    27834
Macau               658.394       30
Monaco               39.511        2
...                     ...      ...
Namibia            2587.344   825615
Western Sahara      611.875   266000
Mongolia           3329.289  1564110
Falkland Islands      3.533    12173
Greenland            56.877  2166086

[247 rows x 2 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 247 entries, Macau to Greenland
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   pop2021  247 non-null    float64
 1   area     247 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 5.8+ KB

In [ ]:
sum(df.duplicated())

15

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(232, 2)

In [ ]:
df.sort_index(inplace=True)

In [ ]:
df.sort_values('pop2021', ascending=False)

                      pop2021     area
country
China             1444216.107  9706961
India             1393409.038  3287590
United States      332915.073  9372610
Indonesia          276361.783  1904569
Pakistan           225199.937   881912
...                       ...      ...
Montserrat              4.977      102
Falkland Islands        3.533    12173
Niue                    1.619      260
Tokelau                 1.373       12
Vatican City            0.800        1

[232 rows x 2 columns]

In [ ]:
df

                     pop2021     area
country
Afghanistan        39835.428   652230
Albania             2872.933    28748
Algeria            44616.624  2381741
American Samoa        55.100      199
Andorra               77.355      468
...                      ...      ...
Wallis and Futuna     11.094      142
Western Sahara       611.875   266000
Yemen              30490.640   527968
Zambia             18920.651   752612
Zimbabwe           15092.171   390757

[232 rows x 2 columns]

In [ ]:
df.loc['Uzbekistan']

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

In [ ]:
df['oraliq']=pd.cut(df['pop2021'],[0,1000, 10000, 100000])

In [ ]:
df

                     pop2021     area           oraliq
country
Afghanistan        39835.428   652230  (10000, 100000]
Albania             2872.933    28748    (1000, 10000]
Algeria            44616.624  2381741  (10000, 100000]
American Samoa        55.100      199        (0, 1000]
Andorra               77.355      468        (0, 1000]
...                      ...      ...              ...
Wallis and Futuna     11.094      142        (0, 1000]
Western Sahara       611.875   266000        (0, 1000]
Yemen              30490.640   527968  (10000, 100000]
Zambia             18920.651   752612  (10000, 100000]
Zimbabwe           15092.171   390757  (10000, 100000]

[232 rows x 3 columns]

In [ ]:
df.loc['Uzbekistan']

pop2021          33935.763
area                447400
oraliq     (10000, 100000]
Name: Uzbekistan, dtype: object

In [ ]:
pd.qcut(df['pop2021'], 3)

country
Afghanistan          (12255.433, 1444216.107]
Albania                 (1343.873, 12255.433]
Algeria              (12255.433, 1444216.107]
American Samoa              (0.799, 1343.873]
Andorra                     (0.799, 1343.873]
                               ...
Wallis and Futuna           (0.799, 1343.873]
Western Sahara              (0.799, 1343.873]
Yemen                (12255.433, 1444216.107]
Zambia               (12255.433, 1444216.107]
Zimbabwe             (12255.433, 1444216.107]
Name: pop2021, Length: 232, dtype: category
Categories (3, interval[float64, right]): [(0.799, 1343.873] < (1343.873, 12255.433] <
                                           (12255.433, 1444216.107]]

In [ ]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 0 to 88
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           61 non-null     object
 1   body-style        61 non-null     object
 2   wheel-base        61 non-null     float64
 3   length            61 non-null     float64
 4   engine-type       61 non-null     object
 5   num-of-cylinders  61 non-null     object
 6   horsepower        61 non-null     int64
 7   average-mileage   61 non-null     int64
 8   price             58 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 4.8+ KB

In [ ]:
df.fillna({'price':np.mean(df['price'])}, inplace=True)

In [ ]:
df.groupby('company')['price'].mean()

company
alfa-romero      15498.333333
audi             16392.500000
bmw              27213.333333
chevrolet         6007.000000
dodge             6303.000000
honda            10195.000000
isuzu            12519.666667
jaguar           34600.000000
mazda             9654.800000
mercedes-benz    35040.000000
mitsubishi        6689.000000
nissan            8289.000000
porsche          28814.333333
toyota            8216.857143
volkswagen        8435.000000
volvo            13177.500000
Name: price, dtype: float64

In [ ]:
df_new=pd.DataFrame({
    'Price':df.groupby(['company','body-style'])['price'].mean(),
    'Count':df.groupby(['company','body-style'])['price'].count(),
    'Max':df.groupby(['company','body-style'])['price'].max(),
    'Min':df.groupby(['company','body-style'])['price'].min()
})

In [ ]:
df_new

                                  Price  Count      Max      Min
company       body-style
alfa-romero   convertible  14997.500000      2  16500.0  13495.0
              hatchback    16500.000000      1  16500.0  16500.0
audi          sedan        15550.000000      3  17450.0  13950.0
              wagon        18920.000000      1  18920.0  18920.0
bmw           sedan        27213.333333      6  41315.0  16430.0
chevrolet     hatchback     5723.000000      2   6295.0   5151.0
              sedan         6575.000000      1   6575.0   6575.0
dodge         hatchback     6303.000000      2   6377.0   6229.0
honda         sedan        11645.000000      2  12945.0  10345.0
              wagon         7295.000000      1   7295.0   7295.0
isuzu         sedan        12519.666667      3  15387.0   6785.0
jaguar        sedan        34600.000000      3  36000.0  32250.0
mazda         hatchback     7482.500000      4  11845.0   5195.0
              sedan        18344.000000      1  18344.0  18344.0
mercedes-benz hardtop      45400.000000      1  45400.0  45400.0
              sedan        33256.000000      2  40960.0  25552.0
              wagon        28248.000000      1  28248.0  28248.0
mitsubishi    hatchback     5789.000000      2   6189.0   5389.0
              sedan         7589.000000      2   8189.0   6989.0
nissan        sedan         8524.000000      4  13499.0   6649.0
              wagon         7349.000000      1   7349.0   7349.0
porsche       convertible  37028.000000      1  37028.0  37028.0
              hardtop      34028.000000      1  34028.0  34028.0
              hatchback    15387.000000      1  15387.0  15387.0
toyota        hatchback     6058.000000      3   6488.0   5348.0
              wagon         9836.000000      4  15750.0   6918.0
volkswagen    sedan         8435.000000      4   9995.0   7775.0
volvo         sedan        12940.000000      1  12940.0  12940.0
              wagon        13415.000000      1  13415.0  13415.0

In [ ]:
df.groupby(['company','body-style'])['price'].agg([ max, min, np.mean])

/tmp/ipython-input-3955035083.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby(['company','body-style'])['price'].agg([ max, min, np.mean])
/tmp/ipython-input-3955035083.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby(['company','body-style'])['price'].agg([ max, min, np.mean])
/tmp/ipython-input-3955035083.py:1: FutureWarning: The provided callable <function mean at 0x7c240cd409a0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby(['company','body-style'])['price'].agg([ max, min, np.mean])

                               max      min          mean
company       body-style
alfa-romero   convertible  16500.0  13495.0  14997.500000
              hatchback    16500.0  16500.0  16500.000000
audi          sedan        17450.0  13950.0  15550.000000
              wagon        18920.0  18920.0  18920.000000
bmw           sedan        41315.0  16430.0  27213.333333
chevrolet     hatchback     6295.0   5151.0   5723.000000
              sedan         6575.0   6575.0   6575.000000
dodge         hatchback     6377.0   6229.0   6303.000000
honda         sedan        12945.0  10345.0  11645.000000
              wagon         7295.0   7295.0   7295.000000
isuzu         sedan        15387.0   6785.0  12519.666667
jaguar        sedan        36000.0  32250.0  34600.000000
mazda         hatchback    11845.0   5195.0   7482.500000
              sedan        18344.0  18344.0  18344.000000
mercedes-benz hardtop      45400.0  45400.0  45400.000000
              sedan        40960.0  25552.0  33256.000000
              wagon        28248.0  28248.0  28248.000000
mitsubishi    hatchback     6189.0   5389.0   5789.000000
              sedan         8189.0   6989.0   7589.000000
nissan        sedan        13499.0   6649.0   8524.000000
              wagon         7349.0   7349.0   7349.000000
porsche       convertible  37028.0  37028.0  37028.000000
              hardtop      34028.0  34028.0  34028.000000
              hatchback    15387.0  15387.0  15387.000000
toyota        hatchback     6488.0   5348.0   6058.000000
              wagon        15750.0   6918.0   9836.000000
volkswagen    sedan         9995.0   7775.0   8435.000000
volvo         sedan        12940.0  12940.0  12940.000000
              wagon        13415.0  13415.0  13415.000000

In [ ]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/MOCK_USER_DATA.csv", index_col=0)
df

    first_name   last_name                           email       gender   age
id
1      Dorothy     Verryan               dverryan0@who.int   Non-binary     1
2      Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91
3       Lilith    Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
4         Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid     6
5     Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48
..         ...         ...                             ...          ...   ...
96        Baxy       Marcu        bmarcu2n@list-manage.com      Agender    64
97      Kattie     Claxson          kclaxson2o@booking.com       Female    18
98        Clem     Fullerd  cfullerd2p@creativecommons.org     Bigender    55
99   Desdemona     Jurasek        djurasek2q@aboutads.info  Genderfluid    46
100      Mable     Toffano          mtoffano2r@myspace.com     Bigender   233

[100 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 1 to 100
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  100 non-null    object
 1   last_name   100 non-null    object
 2   email       100 non-null    object
 3   gender      100 non-null    object
 4   age         100 non-null    int64
dtypes: int64(1), object(4)
memory usage: 4.7+ KB

In [ ]:
df.describe()

               age
count   100.000000
mean    145.660000
std     565.631411
min     -85.000000
25%      22.750000
50%      53.500000
75%      84.250000
max    4444.000000

In [ ]:
df['age'].unique()

array([   1,   91, 1233,    6,   48,   77,   67,   99,   68,  -85,   74,
         29,   60,  100,   87,   40,   58,  -75,   41,  -43,   85,   79,
         22,   18,   52,   13,   33,   44,  -26,   34,   39,   14,  -42,
       3434,    8,   36,   37,   23,   49,   38,   66,  333,   27,  344,
          9,   83,   90,   50,   96,   70,   86,   94,   56,  332,   28,
         92,    7,    5,   47,   69,   12,   88,    4, 4444,   98,   20,
         81,   76,   65,    3,   93,   16,  -69,   84,    2,   64,   55,
         46,  233])

In [ ]:
idx=df[df['age']>123].index

In [ ]:
idx

Index([], dtype='int64', name='id')

In [ ]:
df.drop(index=idx, inplace=True)

In [ ]:
df[df['age']<0]

Empty DataFrame
Columns: [first_name, last_name, email, gender, age]
Index: []

In [ ]:
df['age']=df['age'].apply(np.abs)

In [ ]:
df.describe()

              age
count   93.000000
mean    52.612903
std     29.978265
min      1.000000
25%     29.000000
50%     52.000000
75%     77.000000
max    100.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 1 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  93 non-null     object
 1   last_name   93 non-null     object
 2   email       93 non-null     object
 3   gender      93 non-null     object
 4   age         93 non-null     int64
dtypes: int64(1), object(4)
memory usage: 4.4+ KB

In [ ]:
df['gender'].unique()

array(['Non-binary', 'Male', 'Genderfluid', 'Female', 'Agender',
       'Bigender', 'Polygender', 'Genderqueer'], dtype=object)

In [ ]:
df['gender'].value_counts()

gender
Male           21
Bigender       12
Female         11
Genderfluid    11
Non-binary     10
Genderqueer    10
Agender         9
Polygender      9
Name: count, dtype: int64

In [ ]:
new_df=df[df['gender'].isin(['Male', 'Female'])]

In [ ]:
new_df.shape

(32, 5)

In [ ]:
new_df.index=np.arange(1, new_df.shape[0]+1)

In [ ]:
new_df.shape[0]

32

In [ ]:
new_df

   first_name     last_name                         email  gender  age
1     Pietrek       Scanlin        pscanlin1@yolasite.com    Male   91
2    Mohammed    Habbershon  mhabbershon4@sourceforge.net  Female   48
3       David      Meredyth    dmeredyth9@telegraph.co.uk  Female   68
4   Raffaello     Firminger     rfirmingerb@bloomberg.com  Female   74
5       Byram   Martynikhin     bmartynikhing@jiathis.com    Male   40
6       Luisa     Bradborne          lbradbornei@fema.gov  Female   75
7         Ray         Padly           rpadlyl@twitpic.com    Male   85
8    Ephrayim    Westmacott         ewestmacottp@ning.com    Male   77
9       Biron      Acklands        backlandss@comsenz.com    Male   13
10   Ebenezer       Greeves         egreevesw@myspace.com    Male   26
11     Brooks          Vose             bvosex@amazon.com  Female   34
12        Axe       Arundel           aarundelz@yahoo.com  Female   14
13       Bili     Swetenham        bswetenham16@europa.eu    Male   23
14     Alvira  Stollsteiner     astollsteiner19@mysql.com    Male   66
15     Brynna        Worsom              bworsom1l@wp.com    Male   66
16       Page       Merrell     pmerrell1o@slideshare.net    Male    1
17     Kennan         Visco          kvisco1p@jiathis.com  Female   94
18   Adrianne       Gommowe  agommowe1q@deliciousdays.com    Male  100
19     Bunnie        Ozanne      bozanne1u@whitehouse.gov    Male   92
20      Ambur        Aickin           aaickin1x@about.com    Male   60
21   Eleanora       Kamenar       ekamenar1z@examiner.com    Male   47
22      Curry    Smalecombe  csmalecombe21@washington.edu    Male   69
23      Misty         Blanc         mblanc23@amazon.co.jp    Male   74
24     Rudolf        Kalewe           rkalewe24@fotki.com    Male   12
25       Alex         Darth    adarth28@ezinearticles.com  Female   98
26    Rogerio          Akid           rakid2d@latimes.com  Female    3
27      Peder        Murrie       pmurrie2e@bloglovin.com    Male   69
28       Kain     Dumphries  kdumphries2f@hugedomains.com    Male   93
29  Zachariah         Meins          zmeins2h@weather.com    Male   69
30      Judas        Maffin         jmaffin2i@dropbox.com    Male    3
31     Sheree        Cockin     scockin2l@accuweather.com  Female   94
32     Kattie       Claxson        kclaxson2o@booking.com  Female   18

In [ ]:
t=np.random.permutation(30)

In [ ]:
new_df

   first_name     last_name                         email  gender  age
1     Pietrek       Scanlin        pscanlin1@yolasite.com    Male   91
2    Mohammed    Habbershon  mhabbershon4@sourceforge.net  Female   48
3       David      Meredyth    dmeredyth9@telegraph.co.uk  Female   68
4   Raffaello     Firminger     rfirmingerb@bloomberg.com  Female   74
5       Byram   Martynikhin     bmartynikhing@jiathis.com    Male   40
6       Luisa     Bradborne          lbradbornei@fema.gov  Female   75
7         Ray         Padly           rpadlyl@twitpic.com    Male   85
8    Ephrayim    Westmacott         ewestmacottp@ning.com    Male   77
9       Biron      Acklands        backlandss@comsenz.com    Male   13
10   Ebenezer       Greeves         egreevesw@myspace.com    Male   26
11     Brooks          Vose             bvosex@amazon.com  Female   34
12        Axe       Arundel           aarundelz@yahoo.com  Female   14
13       Bili     Swetenham        bswetenham16@europa.eu    Male   23
14     Alvira  Stollsteiner     astollsteiner19@mysql.com    Male   66
15     Brynna        Worsom              bworsom1l@wp.com    Male   66
16       Page       Merrell     pmerrell1o@slideshare.net    Male    1
17     Kennan         Visco          kvisco1p@jiathis.com  Female   94
18   Adrianne       Gommowe  agommowe1q@deliciousdays.com    Male  100
19     Bunnie        Ozanne      bozanne1u@whitehouse.gov    Male   92
20      Ambur        Aickin           aaickin1x@about.com    Male   60
21   Eleanora       Kamenar       ekamenar1z@examiner.com    Male   47
22      Curry    Smalecombe  csmalecombe21@washington.edu    Male   69
23      Misty         Blanc         mblanc23@amazon.co.jp    Male   74
24     Rudolf        Kalewe           rkalewe24@fotki.com    Male   12
25       Alex         Darth    adarth28@ezinearticles.com  Female   98
26    Rogerio          Akid           rakid2d@latimes.com  Female    3
27      Peder        Murrie       pmurrie2e@bloglovin.com    Male   69
28       Kain     Dumphries  kdumphries2f@hugedomains.com    Male   93
29  Zachariah         Meins          zmeins2h@weather.com    Male   69
30      Judas        Maffin         jmaffin2i@dropbox.com    Male    3
31     Sheree        Cockin     scockin2l@accuweather.com  Female   94
32     Kattie       Claxson        kclaxson2o@booking.com  Female   18